<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2016-2022 Mastercard
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="tns" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Mastercard Gateway</label>
                <comment><![CDATA[Accept credit/debit cards in your Magento store.]]></comment>
                <fieldset_css>complex</fieldset_css>
                <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                <field id="version_info" type="text" translate="label comment" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Mastercard\Mastercard\Block\Adminhtml\ModuleVersion</frontend_model>
                    <config_path>payment/tns/version_info</config_path>
                </field>
                <field id="supported_cardtypes" translate="label" type="text" sortOrder="255" showInDefault="0" showInWebsite="0" showInStore="0">
                	<label>supported cardtypes</label>
                 	<config_path>payment/tns/supported_cardtypes</config_path>
				</field>
                <field id="is_downloaded" translate="label" type="text" sortOrder="255" showInDefault="0" showInWebsite="0" showInStore="0">
                	<label>Is Downloaded</label>
                 	<config_path>payment/tns/is_downloaded</config_path>
               	</field>
                <group id="hosted" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hosted Checkout</label>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_hosted/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/tns_hosted/title</config_path>
                    </field>
                    <field id="payment_action" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment Action</label>
                        <source_model>Mastercard\Mastercard\Model\Adminhtml\Source\PaymentAction</source_model>
                        <config_path>payment/tns_hosted/payment_action</config_path>
                    </field>
                    <field id="authentication_type" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Authentication Type</label>
                        <source_model>Mastercard\Mastercard\Model\Adminhtml\Source\AuthenticationType</source_model>
                        <config_path>payment/tns_hosted/authentication_type</config_path>
                    </field>
                    <field id="form_type" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Form Type</label>
                        <source_model>Mastercard\Mastercard\Model\Adminhtml\Source\Hosted\FormType</source_model>
                        <config_path>payment/tns_hosted/form_type</config_path>
                    </field>
                    <field id="api_username" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>API Username</label>
                        <config_path>payment/tns_hosted/api_username</config_path>
                    </field>
                    <field id="api_password" translate="label" type="obscure" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>API Password</label>
                        <config_path>payment/tns_hosted/api_password</config_path>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <depends>
                            <field id="authentication_type">password</field>
                        </depends>
                    </field>
                    <field id="api_cert" translate="label" type="file" sortOrder="80" showInDefault="1" showInWebsite="1">
                        <label>SSL Certificate</label>
                        <config_path>payment/tns_hosted/api_cert</config_path>
                        <backend_model>Mastercard\Mastercard\Model\System\Config\Backend\Cert</backend_model>
                        <depends>
                            <field id="authentication_type">certificate</field>
                        </depends>
                    </field>
                    <field id="api_key" translate="label" type="file" sortOrder="90" showInDefault="1" showInWebsite="1">
                        <label>SSL Key</label>
                        <config_path>payment/tns_hosted/api_key</config_path>
                        <backend_model>Mastercard\Mastercard\Model\System\Config\Backend\Cert</backend_model>
                        <depends>
                            <field id="authentication_type">certificate</field>
                        </depends>
                    </field>
                  <!--  <field id="api_gateway" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Gateway</label>
                        <source_model>Mastercard\Mastercard\Model\Adminhtml\Source\Gateway</source_model>
                        <config_path>payment/tns_hosted/api_gateway</config_path>
                    </field> -->
                    <field id="api_gateway_other" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Gateway URL</label>
                        <config_path>payment/tns_hosted/api_gateway_other</config_path>
                        <comment> Enter the Gateway URL shared by your payment service provider. Enter the URL with https prefix. For example https://na.gateway.mastercard.com/</comment>
                    </field>
                    <field id="api_gateway_other_pki" translate="label comment" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Custom PKI Gateway URL</label>
                        <config_path>payment/tns_hosted/api_gateway_other_pki</config_path>
                        <comment>Please contact your payment service provider to receive Custom PKI Gateway URL for Certificate Authentication.</comment>
                        <depends>
                            <field id="authentication_type">certificate</field>
                        </depends>
                    </field>
                    <field id="webhook_secret" translate="label comment" type="obscure" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>WebHook Secret</label>
                        <config_path>payment/tns_hosted/webhook_secret</config_path>
                        <comment>Be sure to enable the WebHook support in your MasterCard Merchant Administration</comment>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    </field>
                    <field id="webhook_url" translate="label comment" type="text" sortOrder="140" showInDefault="0" showInWebsite="0" showInStore="0">
                        <label>WebHook URL</label>
                        <config_path>payment/tns_hosted/webhook_url</config_path>
                        <comment>If left blank, will be chosen automatically</comment>
                    </field>
                    <field id="test" translate="label" type="select" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Test Mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_hosted/test</config_path>
                    </field>
                    <field id="debug" translate="label" type="select" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Debug</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_hosted/debug</config_path>
                    </field>
                    <field id="order_status" translate="label" type="select" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>New Order Status</label>
                        <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                        <config_path>payment/tns_hosted/order_status</config_path>
                    </field>
                    <field id="currency" translate="label" type="select" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Accepted Currency</label>
                        <source_model>Magento\Config\Model\Config\Source\Locale\Currency</source_model>
                        <config_path>payment/tns_hosted/currency</config_path>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <config_path>payment/tns_hosted/allowspecific</config_path>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <config_path>payment/tns_hosted/specificcountry</config_path>
                    </field>
                    <field id="send_line_items" translate="label" type="select" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Send Line Items</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_hosted/send_line_items</config_path>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Sort Order</label>
                        <frontend_class>validate-number</frontend_class>
                        <config_path>payment/tns_hosted/sort_order</config_path>
                    </field>
                    <!-- Enable/Disable Merchant Information -->
                        <field id="enable_merchant_info" translate="label" type="select" sortOrder="225" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Enable Merchant Information</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/tns_hosted/enable_merchant_info</config_path>
                            <comment>Enable or disable the display of merchant information on the redirected payment page.</comment>
                             <depends>
                              <field id="form_type" value="1" />
                             </depends>
                        </field>
                         <field id="name" translate="label" type="text" sortOrder="230" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Merchant Name</label>
                            <validate>validate-alpha-with-spaces</validate>
                            <frontend_class>validate-length maximum-length-40</frontend_class>
                            <config_path>payment/tns_hosted/merchant_name</config_path>
                            <comment>Name of your business (up to 40 characters) to be shown to the payer during the payment interaction.</comment>
                            <depends>
                                <field id="enable_merchant_info" value="1" />
                                <field id="form_type" value="1" />
                            </depends>
                        </field>

                        <!-- Address Line 1 -->
                        <field id="address_line1" translate="label" type="text" sortOrder="235" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Address Line 1</label>
                            <frontend_class>validate-length maximum-length-100</frontend_class>
                            <config_path>payment/tns_hosted/address_line1</config_path>
                            <comment>The first line of your business address (up to 100 characters) to be shown to the payer during the payment interaction.</comment>
                            <depends>
                                <field id="enable_merchant_info" value="1" />
                                <field id="form_type" value="1" />
                            </depends>
                        </field>

                        <!-- Address Line 2 -->
                        <field id="address_line2" translate="label" type="text" sortOrder="240" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Address Line 2</label>
                            <frontend_class>validate-length maximum-length-100</frontend_class>
                            <config_path>payment/tns_hosted/address_line2</config_path>
                            <comment>The second line of your business address (up to 100 characters) to be shown to the payer during the payment interaction.</comment>
                            <depends>
                                <field id="enable_merchant_info" value="1" />
                                <field id="form_type" value="1" />
                            </depends>
                        </field>

                        <!-- Postcode/ZIP -->
                        <field id="postcode" translate="label" type="text" sortOrder="245" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Postcode/ZIP</label>
                            <frontend_class>validate-length maximum-length-100</frontend_class>
                            <config_path>payment/tns_hosted/postcode</config_path>
                            <comment>The postal or ZIP code of your business address (up to 100 characters) to be shown to the payer during the payment interaction.</comment>
                            <depends>
                                <field id="enable_merchant_info" value="1" />
                                 <field id="form_type" value="1" />
                            </depends>
                        </field>

                        <!-- Country/State -->
                        <field id="country" translate="label" type="text" sortOrder="250" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Country/State</label>
                            <frontend_class>validate-length maximum-length-100</frontend_class>
                            <config_path>payment/tns_hosted/country</config_path>
                            <comment>The country or state of your business address (up to 100 characters) to be shown to the payer during the payment interaction.</comment>
                            <depends>
                                <field id="enable_merchant_info" value="1" />
                                <field id="form_type" value="1" />
                            </depends>
                        </field> 

                        <!-- Email -->
                        <field id="email" translate="label" type="text" sortOrder="255" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Email</label>
                            <validate>validate-email</validate>
                            <config_path>payment/tns_hosted/email</config_path>
                            <comment>The email address of your business to be shown to the payer during the payment interaction. (e.g. an email address for customer service).</comment>
                            <depends>
                                <field id="enable_merchant_info" value="1" />
                                <field id="form_type" value="1" />
                            </depends>
                        </field>

                        <!-- Phone -->
                        <field id="phone" translate="label" type="text" sortOrder="260" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Phone</label>
                            <frontend_class>validate-length maximum-length-20</frontend_class>
                            <config_path>payment/tns_hosted/phone</config_path>
                            <comment>The phone number of your business (up to 20 characters) to be shown to the payer during the payment interaction.</comment>
                            <depends>
                                <field id="enable_merchant_info" value="1" />
                                <field id="form_type" value="1" />
                            </depends>
                        </field>

                        <!-- Upload Business Logo -->
                        <field id="logo_file" translate="label" type="image" sortOrder="265" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Upload Business Logo</label>
                            <backend_model>Magento\Config\Model\Config\Backend\Image\Pdf</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">mastercard/logs</upload_dir>
                            <base_url type="media" scope_info="1">mastercard/logs</base_url>
                            <config_path>payment/tns_hosted/logo_file</config_path>
                            <comment>The URL of your business logo (JPEG or PNG) to be shown to the payer during the payment interaction.
                            The logo should be 140x140 pixels, and the URL must be secure (e.g., https://). Size exceeding 140 pixels will be auto resized.</comment>
                            <depends>
                                <field id="enable_merchant_info" value="1" />
                                <field id="form_type" value="1" />
                            </depends>
                        </field>
                    <group id="advanced" translate="label" type="text" sortOrder="270" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Advanced Configuration</label>
                        <field id="version_info" type="text" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <frontend_model>HostedApiVersionInfoModel</frontend_model>
                        </field>
                        <field id="custom_create_session_request_data" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Create Session Request Data</label>
                            <frontend_class>validate-json</frontend_class>
                            <config_path>payment/tns_hosted/custom_create_session_request_data</config_path>
                        </field>
                    </group>
                </group>
                <group id="hpf" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hosted Payment Session</label>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_hpf/active</config_path>
                    </field>
                    <field id="vault_active" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Vault Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_hpf_vault/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/tns_hpf/title</config_path>
                    </field>
                    <field id="payment_action" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment Action</label>
                        <source_model>Mastercard\Mastercard\Model\Adminhtml\Source\Hpf\PaymentAction</source_model>
                        <config_path>payment/tns_hpf/payment_action</config_path>
                    </field>
                    <field id="add_token_to_order" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Add Token to Order</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_hpf/add_token_to_order</config_path>
                        <depends>
                            <field id="payment_action" separator=",">authorize,authorize_capture</field>
                        </depends>
                    </field>
                    <field id="authentication_type" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Authentication Type</label>
                        <source_model>Mastercard\Mastercard\Model\Adminhtml\Source\AuthenticationType</source_model>
                        <config_path>payment/tns_hpf/authentication_type</config_path>
                    </field>
                    <field id="api_username" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>API Username</label>
                        <config_path>payment/tns_hpf/api_username</config_path>
                    </field>
                    <field id="api_password" translate="label" type="obscure" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>API Password</label>
                        <config_path>payment/tns_hpf/api_password</config_path>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <depends>
                            <field id="authentication_type">password</field>
                        </depends>
                    </field>
                    <field id="api_cert" translate="label" type="file" sortOrder="90" showInDefault="1" showInWebsite="1">
                        <label>SSL Certificate</label>
                        <config_path>payment/tns_hpf/api_cert</config_path>
                        <backend_model>Mastercard\Mastercard\Model\System\Config\Backend\Cert</backend_model>
                        <depends>
                            <field id="authentication_type">certificate</field>
                        </depends>
                    </field>
                    <field id="api_key" translate="label" type="file" sortOrder="100" showInDefault="1" showInWebsite="1">
                        <label>SSL Key</label>
                        <config_path>payment/tns_hpf/api_key</config_path>
                        <backend_model>Mastercard\Mastercard\Model\System\Config\Backend\Cert</backend_model>
                        <depends>
                            <field id="authentication_type">certificate</field>
                        </depends>
                    </field>
                  <!-- <field id="api_gateway" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Gateway</label>
                        <source_model>Mastercard\Mastercard\Model\Adminhtml\Source\Gateway</source_model>
                        <config_path>payment/tns_hpf/api_gateway</config_path>
                    </field> -->
                    <field id="api_gateway_other" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Gateway URL</label>
                        <config_path>payment/tns_hpf/api_gateway_other</config_path>
                        <comment> Enter the Gateway URL shared by your payment service provider. Enter the URL with https prefix. For example https://na.gateway.mastercard.com/</comment>
                    </field>
                    <field id="api_gateway_other_pki" translate="label comment" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Custom PKI Gateway URL</label>
                        <config_path>payment/tns_hpf/api_gateway_other_pki</config_path>
                        <comment>Please contact your payment service provider to receive Custom PKI Gateway URL for Certificate Authentication.</comment>
                        <depends>
                            <field id="authentication_type">certificate</field>
                        </depends>
                    </field>
                    <field id="webhook_secret" translate="label comment" type="obscure" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>WebHook Secret</label>
                        <config_path>payment/tns_hpf/webhook_secret</config_path>
                        <comment>Be sure to enable the WebHook support in your MasterCard Merchant Administration</comment>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    </field>
                    <field id="webhook_url" translate="label comment" type="text" sortOrder="140" showInDefault="0" showInWebsite="0" showInStore="0">
                        <label>WebHook URL</label>
                        <config_path>payment/tns_hpf/webhook_url</config_path>
                        <comment>If left blank, will be chosen automatically</comment>
                    </field>
                    <field id="test" translate="label" type="select" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Test Mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_hpf/test</config_path>
                    </field>
                    <field id="debug" translate="label" type="select" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Debug</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_hpf/debug</config_path>
                    </field>
                    <field id="order_status" translate="label" type="select" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>New Order Status</label>
                        <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                        <config_path>payment/tns_hpf/order_status</config_path>
                        <depends>
                            <field id="payment_action" separator=",">authorize,authorize_capture</field>
                        </depends>
                    </field>
                    <field id="three_d_secure" translate="label comment" type="select" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable 3-D Secure</label>
                        <source_model>Mastercard\Mastercard\Model\Config\Source\TreeDSecureVersion</source_model>
                        <config_path>payment/tns_hpf/three_d_secure</config_path>
                        <comment>Be sure to Enable 3D-Secure in your MasterCard account</comment>
                         <depends>
                            <field id="payment_action" separator="|">authorize|authorize_capture</field>
                        </depends>   
                    </field>
                    <field id="currency" translate="label" type="select" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Accepted Currency</label>
                        <source_model>Magento\Config\Model\Config\Source\Locale\Currency</source_model>
                        <config_path>payment/tns_hpf/currency</config_path>
                    </field>
                    <field id="useccv" translate="label comment" type="select" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Credit Card Verification</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_hpf/useccv</config_path>
                        <comment>Be sure to Enable CVV in your MasterCard account</comment>
                    </field>
                    <field id="vault_ccv" translate="label comment" type="select" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Require CCV for tokenized card transactions</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_hpf/vault_ccv</config_path>
                        <depends>
                            <field id="vault_active" >1</field>
                        </depends>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <config_path>payment/tns_hpf/allowspecific</config_path>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="230" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <config_path>payment/tns_hpf/specificcountry</config_path>
                    </field>
                    <field id="send_line_items" translate="label" type="select" sortOrder="240" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Send Line Items</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tns_hpf/send_line_items</config_path>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="250" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Sort Order</label>
                        <frontend_class>validate-number</frontend_class>
                        <config_path>payment/tns_hpf/sort_order</config_path>
                    </field>
                    <group id="advanced" translate="label" type="text" sortOrder="260" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Advanced Configuration</label>
                        <field id="version_info" type="text" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <frontend_model>HpfApiVersionInfoModel</frontend_model>
                        </field>
                        <field id="custom_create_token_request_data" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Create Token Request Data</label>
                            <frontend_class>validate-json</frontend_class>
                            <config_path>payment/tns_hpf/custom_create_token_request_data</config_path>
                        </field>
                        <field id="custom_authorize_request_data" translate="label" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Authorize Request Data</label>
                            <frontend_class>validate-json</frontend_class>
                            <config_path>payment/tns_hpf/custom_authorize_request_data</config_path>
                        </field>
                        <field id="custom_sale_request_data" translate="label" type="textarea" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Sale Request Data</label>
                            <frontend_class>validate-json</frontend_class>
                            <config_path>payment/tns_hpf/custom_sale_request_data</config_path>
                        </field>
                        <field id="custom_verify_request_data" translate="label" type="textarea" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Verify Request Data</label>
                            <frontend_class>validate-json</frontend_class>
                            <config_path>payment/tns_hpf/custom_verify_request_data</config_path>
                        </field>
                    </group>
                </group>
                <group id="ach" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>ACH</label>
                    <comment>ACH only supports USD</comment>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/mpgs_ach/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/mpgs_ach/title</config_path>
                    </field>
                    <field id="mapped_payment_action" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment Action</label>
                        <source_model>Mastercard\Mastercard\Model\Adminhtml\Source\Ach\MappedPaymentAction</source_model>
                        <config_path>payment/mpgs_ach/mapped_payment_action</config_path>
                    </field>
                    <field id="add_token_to_order" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Add Token to Order</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/mpgs_ach/add_token_to_order</config_path>
                        <depends>
                            <field id="mapped_payment_action">order_pay</field>
                        </depends>
                    </field>
                    <field id="authentication_type" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Authentication Type</label>
                        <source_model>Mastercard\Mastercard\Model\Adminhtml\Source\AuthenticationType</source_model>
                        <config_path>payment/mpgs_ach/authentication_type</config_path>
                    </field>
                    <field id="api_username" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>API Username</label>
                        <config_path>payment/mpgs_ach/api_username</config_path>
                    </field>
                    <field id="api_password" translate="label" type="obscure" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>API Password</label>
                        <config_path>payment/mpgs_ach/api_password</config_path>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <depends>
                            <field id="authentication_type">password</field>
                        </depends>
                    </field>
                    <field id="api_cert" translate="label" type="file" sortOrder="80" showInDefault="1" showInWebsite="1">
                        <label>SSL Certificate</label>
                        <config_path>payment/mpgs_ach/api_cert</config_path>
                        <backend_model>Mastercard\Mastercard\Model\System\Config\Backend\Cert</backend_model>
                        <depends>
                            <field id="authentication_type">certificate</field>
                        </depends>
                    </field>
                    <field id="api_key" translate="label" type="file" sortOrder="90" showInDefault="1" showInWebsite="1">
                        <label>SSL Key</label>
                        <config_path>payment/mpgs_ach/api_key</config_path>
                        <backend_model>Mastercard\Mastercard\Model\System\Config\Backend\Cert</backend_model>
                        <depends>
                            <field id="authentication_type">certificate</field>
                        </depends>
                    </field>
                   <!-- <field id="api_gateway" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Gateway</label>
                        <source_model>Mastercard\MasterCard\Model\Adminhtml\Source\Gateway</source_model>
                        <config_path>payment/mpgs_ach/api_gateway</config_path>
                    </field> -->
                    <field id="api_gateway_other" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Gateway URL</label>
                        <config_path>payment/mpgs_ach/api_gateway_other</config_path>
                        <comment> Enter the Gateway URL shared by your payment service provider. Enter the URL with https prefix. For example https://na.gateway.mastercard.com/</comment>
                    </field>
                    <field id="api_gateway_other_pki" translate="label comment" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Custom PKI Gateway URL</label>
                        <config_path>payment/mpgs_ach/api_gateway_other_pki</config_path>
                        <comment>Please contact your payment service provider to receive Custom PKI Gateway URL for Certificate Authentication.</comment>
                        <depends>
                            <field id="authentication_type">certificate</field>
                        </depends>
                    </field>
                    <field id="webhook_secret" translate="label comment" type="obscure" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>WebHook Secret</label>
                        <config_path>payment/mpgs_ach/webhook_secret</config_path>
                        <comment>Be sure to enable the WebHook support in your MasterCard Merchant Administration</comment>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    </field>
                    <field id="webhook_url" translate="label comment" type="text" sortOrder="140" showInDefault="0" showInWebsite="0" showInStore="0">
                        <label>WebHook URL</label>
                        <config_path>payment/mpgs_ach/webhook_url</config_path>
                        <comment>If left blank, will be chosen automatically</comment>
                    </field>
                    <field id="test" translate="label" type="select" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Test Mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/mpgs_ach/test</config_path>
                    </field>
                    <field id="debug" translate="label" type="select" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Debug</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/mpgs_ach/debug</config_path>
                    </field>
                    <field id="order_status_processing" translate="label" type="select" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>New Order Status</label>
                        <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                        <config_path>payment/mpgs_ach/order_status</config_path>
                        <depends>
                            <field id="mapped_payment_action">order_pay</field>
                        </depends>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <config_path>payment/mpgs_ach/allowspecific</config_path>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <config_path>payment/mpgs_ach/specificcountry</config_path>
                    </field>
                    <field id="send_line_items" translate="label" type="select" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Send Line Items</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/mpgs_ach/send_line_items</config_path>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Sort Order</label>
                        <frontend_class>validate-number</frontend_class>
                        <config_path>payment/mpgs_ach/sort_order</config_path>
                    </field>
                    <group id="advanced" translate="label" type="text" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Advanced Configuration</label>
                        <field id="version_info" type="text" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <frontend_model>MpgsAchApiVersionInfoModel</frontend_model>
                        </field>
                    </group>
                </group>
            </group>
        </section>
    </system>
</config>
